@model IEnumerable<LaEsperanza.WEB.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Clientes <a class="btn btn-warning" asp-action="Create">Agregar</a></h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                Tipo de documento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType.TypeDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CustomerID">Editar</a> |
                <a  class="btn btn-dark" asp-action="Details" asp-route-id="@item.CustomerID">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CustomerID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
