@model LaEsperanza.WEB.Models.ItemWithImage

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¿Seguro que desea eliminar esto?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Producto
        </dt>
        <dd>
            <img src="@("~/Imagenes/" + Model.ImageName)"asp-append-version="true" width="150px" height="150px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Presentation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Presentation)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserProductID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Regresar</a>
    </form>
</div>
