@model IEnumerable<LaEsperanza.WEB.Models.ItemWithImage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #botones {
        margin-left: 10px;
        height: 38px;
    }

    #buscador {
        width: 250px;
        margin-left: 600px;
        margin-top: 2px;
    }
</style>



<form method="get" asp-action="Search">

    <div class="row">
        <h2 style="margin-left:30px;">Productos <a class="btn btn-warning" asp-action="Create">Agregar</a></h2>


        <input id="buscador" type="search" placeholder="Nombre del artículo..." value="@ViewData["GetDetails"]" name="varSearch" class="form-control" />
        <input id="botones" type="submit" name="Search" class="btn btn-success" />
        <a id="botones" asp-action="Index" class="btn btn-primary">
            <i class="fas fa-fw fa-reply-all"></i>
        </a>
    </div>

</form>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Nombre del Producto
                @*@Html.DisplayNameFor(model => model.ProductName)*@
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
            <th>
                Precio
                @*@Html.DisplayNameFor(model => model.PriceP)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presentation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@("~/Imagenes/" + item.ImageName)" asp-append-version="true" width="150px" height="150px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PriceP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presentation)
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.UserProductID">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserProductID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
