@model IEnumerable<LaEsperanza.WEB.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Inventario <a class="btn btn-warning" asp-action="Create">Agregar</a></h2>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceP)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ProductiD">Editar</a> |
                <a  class="btn btn-dark" asp-action="Details" asp-route-id="@item.ProductiD">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductiD">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
