@model IEnumerable<LaEsperanza.WEB.Models.SupplierType>

@{
    ViewData["Title"] = "Index";
}

    <h2>
        Tipo de suplidor     <a class="btn btn-warning" asp-action="Create">Agregar</a>
    </h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.SupplierTypeId">Editar</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.SupplierTypeId">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SupplierTypeId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
