@model IEnumerable<LaEsperanza.WEB.Models.PurchaseOrder>

@{
    ViewData["Title"] = "Search";
}

<style>
    #botones {
        margin-left: 10px;
        height: 38px;
    }

    #boton2 {
        margin-left: 10px;
        height: 38px;
        background-color: #10CDB4;
        color: white;
        margin-top: 2px;
    }

    #buscador {
        width: 270px;
        margin-left: 580px;
        margin-top: 2px;
    }
</style>



<form method="get" asp-action="Search">

    <div class="row">
        <h2 style="margin-left:30px;">Facturas <a class="btn btn-warning" asp-action="Create">Agregar</a></h2>


        <input id="buscador" type="search" placeholder="Nombre o ID del empleado..." value="@ViewData["GetDetails"]" name="varSearch" class="form-control" />
        <input id="boton2" type="submit" value="Buscar" name="Search" class="btn btn" />
        <a id="botones" asp-action="Index" class="btn btn-primary">
            <i class="fas fa-fw fa-reply-all"></i>
        </a>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
                @*@Html.DisplayNameFor(model => model.Customer)*@
            </th>
            <th>
                Método de pago
                @*@Html.DisplayNameFor(model => model.Payment)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                Descripción
                @*@Html.DisplayNameFor(model => model.comentario)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valueimp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment.Pway)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valueimp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalValue)
                </td>

                <td>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.PurchaseId">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PurchaseId">Eliminar</a> |
                    <a class="btn btn-info" target="_blank" asp-action="PrintPDF" asp-route-id="@item.PurchaseId">Imprimir</a>
                </td>

            </tr>
        }
    </tbody>
</table>
