@model IEnumerable<LaEsperanza.WEB.Models.DocumentType>

@{
    ViewData["Title"] = "Index";
}

<h2>Tipo de documento <a class="btn btn-warning" asp-action="Create">Agregar</a></h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeDocument)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDocument)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.DocumentTypeId">Editar</a> |
                <a  class="btn btn-dark" asp-action="Details" asp-route-id="@item.DocumentTypeId">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DocumentTypeId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
