@model IEnumerable<LaEsperanza.WEB.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Medicamentos <a class="btn btn-warning" asp-action="Create">Agregar</a></h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clasification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clasification.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ItemId">Editar</a> |
                <a  class="btn btn-dark" asp-action="Details" asp-route-id="@item.ItemId">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
