@model IEnumerable<LaEsperanza.WEB.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<style>
    #botones {
        margin-left: 10px;
        height: 38px;
    }

    #boton2 {
        margin-left: 10px;
        height: 38px;
        background-color: #10CDB4;
        color: white;
        margin-top: 2px;
    }

    #buscador {
        width: 250px;
        margin-left: 600px;
        margin-top: 2px;
    }
</style>



<form method="get" asp-action="Search">

    <div class="row">
        <h2 style="margin-left:30px;">Inventario <a class="btn btn-warning" asp-action="Create">Agregar</a></h2>


        <input id="buscador" type="search" placeholder="Nombre del medicamento..." value="@ViewData["GetDetails"]" name="varSearch" class="form-control" />
        <input id="boton2" type="submit" name="Search" value="Buscar" class="btn btn" />
        <a id="botones" asp-action="Index" class="btn btn-primary">
            <i class="fas fa-fw fa-reply-all"></i>
        </a>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Clasificación
                @*@Html.DisplayNameFor(model => model.Clasification)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                Presentación
                @*@Html.DisplayNameFor(model => model.Unit)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clasification.ItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.UnitName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contenido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Mail)
                </td>*@
            <td>
                <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.ItemId">Editar</a> |
                <a class="btn btn-dark btn-sm" asp-action="Details" asp-route-id="@item.ItemId">Detalles</a> |
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ItemId">Eliminar</a>
            </td>
            </tr>
        }
    </tbody>
</table>
